<div class="card">
    <a href="<%= recipe.url %>/<%= recipe.recipeID %>">
        <img src="<%= recipe.img %>">
        <h5><%= recipe.title %></h5>
        <div class="time">
            <div class="row">
                <i class="fa fa-clock-o" style="font-size:15px"><p><%= recipe.time %></p></i>
                <i class="fa fa-cutlery" style="font-size:15px"><p><%= recipe.category %></p></i>
                <i class="fa fa-star" style="color: #ff7f50; font-size: 15px;">
                    <span><%= recipe.averageRating %></span>
                    <span><%= '(' + recipe.totalReviews + ')'%></span>
                </i>
            </div>
        </div>
    </a>
    <button type="button" class="button-circle" onclick="toggleBookmark('<%= recipe.recipeID %>')"><i class="fa-regular fa-bookmark"></i></button>
</div>