<div class="content">
    <h1>Edit Recipe</h1>

    <form id="editForm" action="/editRecipe/<%= recipes.recipeID %>" method="POST" enctype="multipart/form-data">
        <div class="input-box">
            <label class="input-label" for="title">
                Food Name
            </label>
                <input 
                    type="text"
                    value="<%= recipes.title %>" 
                    name="title" 
                    placeholder="Enter food name" 
                    required
                />
        </div>  

        <img src="<%= recipes.img %>">

        <div class="input-box">
            <label class="input-label" for="img">
                Food Image
            </label>
              <input
                type="file"
                name="img"
              >
        </div>

        <div class="input-box">
            <label class="input-label" for="category">
                Category
            </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Breakfast"
                    <%= recipes.category == 'Breakfast' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="category">
                    Breakfast
                </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Lunch"
                    <%= recipes.category == 'Lunch' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="category">
                    Lunch
                </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Dinner"
                    <%= recipes.category == 'Dinner' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="category">
                    Dinner
                </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Snack"
                    <%= recipes.category == 'Snack' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="category">
                    Snack
                </label>
        </div>
        <div class="input-box">
            <label class="input-label" for="nationality">
                Nationality
            </label>
                <input 
                    type="radio" 
                    name="nationality" 
                    value="Asian"
                    <%= recipes.nationality == 'Asian' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="nationality">
                    Asian
                </label>
                <input 
                    type="radio" 
                    name="nationality" 
                    value="Western"
                    <%= recipes.nationality == 'Western' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="nationality">
                    Western
                </label>
        </div>
        <div class="input-box">
            <label class="input-label" for="featured">
                Featured
            </label>
                <input 
                    type="radio" 
                    name="featured" 
                    value="yes"
                    <%= recipes.featured == 'yes' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="featured">
                    Yes
                </label>
                <input 
                    type="radio" 
                    name="featured" 
                    value="no"
                    <%= recipes.featured == 'no' ? 'checked' : '' %>
                    required
                >
                <label class="radio-label" for="featured">
                    No
                </label>
        </div>
        
        <div class="input-box">
            <label class="input-label" for="desc">
                Description
            </label>
                <textarea
                    cols="50"
                    rows="8"
                    name="desc" 
                    placeholder="Enter food description" 
                    required
                ><%= recipes.desc %></textarea>
        </div>
        <div class="input-box">
            <label class="input-label" for="serving">
                Food Serving
            </label>
                <input 
                    type="text"
                    value="<%= recipes.serving %>" 
                    name="serving" 
                    placeholder="Enter food serving" 
                    required
                >
        </div>
        <div class="input-box">
            <label class="input-label" for="length">
                Total Ingredients
            </label>
                <input 
                    type="text" 
                    value="<%= recipes.length %>"
                    name="length" 
                    placeholder="Enter Total Ingredients" 
                    required
                >
        </div>
        <div class="input-box">
            <label class="input-label" for="minutes">
                Cooking Time
            </label>
                <input 
                    type="text"
                    value="<%= recipes.minutes %>" 
                    name="minutes" 
                    placeholder="Enter Cooking Time"  
                    required
                >
        </div>
        <div class="input-box">
            <label class="input-label" for="calories">
                Calories
            </label>
                <input 
                    type="text"
                    value="<%= recipes.calories %>" 
                    name="calories" 
                    placeholder="Enter food calories" 
                    required
                >
        </div>
        <div id="ingredients">
            <% recipes.bahan.forEach((bahan, index) => { %>
            <div class="input-box">
                <label class="input-label" for="bahan<%= index + 1 %>">
                    Ingredient <%= index + 1 %>
                </label>
                <input 
                    type="text" 
                    name="bahan[]" 
                    value="<%= bahan %>"
                    id="bahan<%= index + 1 %>" 
                    placeholder="Enter ingredient" 
                    required
                >
                <button type="button" class="delete-button" onclick="removeInputBox(this)">Delete</button>

            </div>
            <% }) %>
        </div>
        <button type="button" id="addIngredient">Add Ingredient</button>

        <div id="instructions">
            <% recipes.cara.forEach((cara, index) => { %>
            <div class="input-box">
                <label class="input-label" for="cara<%= index + 1 %>">
                    Instruction <%= index + 1 %>
                </label>
                <input 
                    type="text" 
                    name="cara[]"
                    value="<%= cara %>" 
                    id="cara<%= index + 1 %>" 
                    placeholder="Enter instruction" 
                    required
                >
                <button type="button" class="delete-button" onclick="removeInputBox(this)">Delete</button>

            </div>
            <% }) %>
        </div>
        <button type="button" id="addInstruction">Add Instruction</button>
        <br>
        <button type="submit">Submit</button>
</div>

<script>
    
</script>
<script src="/js/editRecipe.js"></script>
<link rel="stylesheet" href="/css/editRecipe.css">