<div class="wrapperedit">
    <h1>Edit Profile</h1>
    <img src="userImages/<%= user.profilePicture %>" >

    <form action="/edit" method="POST" enctype="multipart/form-data" class="form-grid">
        <input type="file" name="image">
        <input type="hidden" name="user_id" value="<%= user._id %>">
        <button type="button" onclick="deleteProfilePic()">Delete Profile Picture</button>

        <div class="form-grid-split">
            <div class="form-grid-item">
                <label for="name">Username</label>
                <input type="text" id="name" name="name" value="<%= user.username %>" placeholder="Enter Name" required>
            </div>

            <div class="form-grid-item">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= user.email %>" placeholder="Enter Email" required>
            </div>

            <div class="form-grid-item">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="" placeholder="Enter New Password" required>
            </div>
        </div>
    
        <input type="submit" value="Update Profile">
    </form>
</div>
<script>
    // Fungsi untuk melakukan POST delete-profile-pic
    // Fungsi untuk menampilkan SweetAlert konfirmasi penghapusan dan melakukan penghapusan
async function deleteProfilePic() {
    const userId = "<%= user._id %>";
    const confirmed = await Swal.fire({
        title: 'Are you sure?',
        text: 'You will not be able to recover your profile picture!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel',
    });

    if (confirmed.isConfirmed) {
        try {
            const response = await fetch('/delete-profilepic', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_id: userId })
            });

            if (response.ok) {
                Swal.fire({
                    title: 'Deleted!',
                    text: 'Your profile picture has been deleted.',
                    icon: 'success',
                }).then(() => {
                    window.location.reload();
                });
            } else {
                throw new Error('Failed to delete profile picture');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="css/profile.css">