<div class="banner">
  <div class="container">
    <p class="flavora">FLAVORA</p>
    <hr>
    <h2>
      Embark on a culinary adventure with a variety of recipes, from traditional comfort foods to innovative dishes, 
      each offering a delightful journey filled with fun and flavor.
    </h2>
  </div>
</div>

<div class="content">
  <% if (recommendedRecipe) {%>
  <div class="recommended">
    <div class="imgwrap">
      <a href="/detail/<%= recommendedRecipe.recipeID %>">
          <img src="<%= recommendedRecipe.img %>">
      </a>
    </div>
    <div class="text">
      <h4>Recommended recipe</h4>
      <a href="/detail/<%= recommendedRecipe.recipeID %>">
        <h5><%= recommendedRecipe.title %></h5>
      </a>
      <p><%= recommendedRecipe.desc %></p>
      <div class="time row">
        <div class="row">
          <i class="fa fa-clock" style="font-size:15px"><p><%= recommendedRecipe.time %></p></i>   
          <i class="fa fa-cutlery" style="font-size:15px"><p><%= recommendedRecipe.category %></p></i>
        </div>
      </div>
    </div>
  </div>
  <% } else {%>
    <div class="recommended">
      <div class="imgwrap">
        <a href="/detail/<%= popularRecipes.recipeID %>">
            <img src="<%= popularRecipes.img %>">
        </a>
      </div>
      <div class="text">
        <h4>Recommended recipe</h4>
        <a href="/detail/<%= popularRecipes.recipeID %>">
          <h5><%= popularRecipes.title %></h5>
        </a>
        <p><%= popularRecipes.desc %></p>
        <div class="time row">
          <div class="row">
            <i class="fa fa-clock" style="font-size:15px"><p><%= popularRecipes.time %></p></i>   
            <i class="fa fa-cutlery" style="font-size:15px"><p><%= popularRecipes.category %></p></i>
          </div>
        </div>
      </div>
  </div>
  <% } %>
  <div class="categories">
    <ul class="categories__list">
      <li class="categories__item active"><a href="javascript:void(0)" data-id="All" onclick="changeCategory('All')">All</a></li>
      <li class="categories__item"><a href="javascript:void(0)" data-id="Breakfast" onclick="changeCategory('Breakfast')">Breakfast</a></li>
      <li class="categories__item"><a href="javascript:void(0)" data-id="Lunch" onclick="changeCategory('Lunch')">Lunch</a></li>
      <li class="categories__item"><a href="javascript:void(0)" data-id="Dinner" onclick="changeCategory('Dinner')">Dinner</a></li>
      <li class="categories__item"><a href="javascript:void(0)" data-id="Snack" onclick="changeCategory('Snack')">Snack</a></li>
    </ul>
    <div class="swiper swiper-product">
      <div class="swiper-wrapper">
        <% recipes.forEach(function(recipe) { %>
          <div class="swiper-slide" data-category="<%= recipe.category %>">
              <%- include('layouts/card', { recipe: recipe}) %>
          </div>
      <% }); %>
      </div>
    </div>
  </div>

  <div class="featured">
    <h4>Featured Recipes</h4>
    <div class="swiper swiper1">
      <div class="swiper-wrapper">
        <% recipes.forEach((recipe) => { %>
          <% if (recipe.featured === 'yes') { %>
            <div class="swiper-slide">
              <%- include('layouts/card', { recipe: recipe}) %>
            </div>
          <% } %>
      <% }); %>
      </div>
    </div>
  </div>

  <div class="asian">
    <h4>Latest Asian Recipes</h4>
    <div class="swiper swiper2">
      <div class="swiper-wrapper">
        <% recipes.forEach((recipe) => { %>
          <% if (recipe.nationality === 'Asian') { %>
            <div class="swiper-slide">
              <%- include('layouts/card', { recipe: recipe}) %>
            </div>
          <% } %>
      <% }); %>
      </div>
    </div>
  </div>

  <div class="western">
    <h4>Latest Western Recipes</h4>
    <div class="swiper swiper3">
      <div class="swiper-wrapper">
        <% recipes.forEach((recipe) => { %>
          <% if (recipe.nationality === 'Western') { %>
            <div class="swiper-slide">
              <%- include('layouts/card', { recipe: recipe}) %>
            </div>
          <% } %>
      <% }); %>
      </div>
    </div>
  </div>

  <div class="under">
    <h4>5 Minutes & Under</h4>
    <div class="swiper swiper4">
      <div class="swiper-wrapper">
        <% recipes.forEach((recipe) => { %>
          <% if (recipe.minutes <= 5) { %>
            <div class="swiper-slide">
              <%- include('layouts/card', { recipe: recipe}) %>
            </div>
          <% } %>
      <% }); %>
      </div>
    </div>
  </div> 
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/tes.js"></script>
<script>
   const recipes = `<%- JSON.stringify(recipes) %>`;
</script>
<script src="/js/search.js"></script>
<script src="/js/index.js"></script>
<script src="https://kit.fontawesome.com/0c466b3931.js" crossorigin="anonymous"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var descriptions = document.querySelectorAll(".recommended .text p");
  descriptions.forEach(function(desc) {
    var sentences = desc.innerHTML.split("."); // Memecah deskripsi menjadi kalimat-kalimat
    var firstTwoSentences = sentences.slice(0, 2).join("."); // Mengambil dua kalimat pertama dan menggabungkannya kembali
    desc.innerHTML = firstTwoSentences;
  });
});
</script>